<html>
  <head>
    <title>Leads and Clients</title>
    <style>
      table, td, th {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th{
        background-color: lightgray;
      }
    </style>
    <script src="static/app.js"></script>
  </head>
  <body>
    <div class="container">

      <p id="d" style="display:none;">{{ session['leads'] }}<p>
      <b><u>List of all customers and # of leads</u></b>
      <table>
        <tr>
          <th>Customer Name</th>
          <th>Number of Leads</th>
        </tr>
        {% for lead in session['leads']: %}
          <tr>
            <td>{{ lead['label'] }}</td>
            <td>{{ lead['y'] }}</td>
          </tr>
        {% endfor %}
      </table>

      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
      <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    </div>
  </body>
</html>
