<html>
  <head>
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static "users/wall.css" %}">
  </head>
  <body>
    <div class="container">
      <center><h1><u>Login and Registraion</u></h1></center>
      {% if messages %}
        <ul class="messages">
          {% for m in messages %}
            <li{% if m.tags %} class="{{ m.tags }}"{% endif %}>{{ m }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <div id="registration" class="inline-block">
        <center class="bold">Register</center>
        <form action='register' method='post'>
          {% csrf_token %}
          <table>
            <tr>
              <td>Email:</td>
              <td><input name="email" type="text"></td>
            </tr>
            <tr>
              <td>First Name:</td>
              <td><input name="first_name" type="text"></td>
            </tr>
            <tr>
              <td>Last Name:</td>
              <td><input name="last_name" type="text"></td>
            </tr>

            <tr>
              <td>Password:</td>
              <td><input name="password" type="password"></td>
            </tr>
            <tr>
              <td>Confirm Password:</td>
              <td><input name="confirm_password" type="password"></td>
            </tr>
            <tr>
              <td></td>
              <td><input class="btn btn-primary width-100" type='submit' value='Submit'></td>
            </tr>
          </table>
          <!-- <br /><input class="btn btn-primary" type='submit' value='Submit'> -->
        </form>
      </div>

      <div id="login" class="inline-block vertical-align-top">
        <center class="bold">Login</center>
        <form action='login' method='post' class="vertical-align-top">
          {% csrf_token %}
          <table>
            <tr>
              <td>Email:</td>
              <td><input name="email" type="text"></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input name="password" type="password"></td>
            </tr>
            <tr>
              <td></td>
              <td><input class="btn btn-primary float-right" type='submit' value='Submit'></td>
            </tr>
          </table>
        </form>
      </div>

    </div>
  </body>
</html>
